[Unit]
Description=docker-compose service
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker-compose -f /var/apps/docker-server-composer/docker-compose.yml up
ExecStop=/usr/bin/docker-compose down

[Install]
WantedBy=default.target
